<%= form_with(model: course_module, local: true) do |form| %>
  <% if course_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_module.errors.count, "error") %> prohibited this module from being saved:</h2>

      <ul>
        <% course_module.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :credits %>
    <%= form.text_field :credits %>
  </div>

  <div class="actions">
    <%= form.submit 'Save module', :class => 'submit-button'%>
  </div>
<% end %>
